*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2e2e2;
}

.nav-bar {
  background-color: #538d6d;
  color: white;
}


.jumbotron {
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

}

.jumbotron p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #e3ffe8;
  margin-bottom: .5rem;
}

.jumbotron span {
  color: #e2fc7c;
  font-size: 1rem;
  font-weight: 400;
}

.timer {
  display: flex;
  flex-wrap: nowrap;
  max-width: 17rem;
  justify-self: center;
  margin: auto; 
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;

}

.box span {
  font-size: .75rem;
}

.box p {
  font-size: 1rem;
  margin-bottom: 0;
}



.books-container {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #f4f4f4;
}

.card img {
  height: 15rem;
  object-fit:contain;
  padding: .5rem 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .8rem;
  text-transform: capitalize;
  /* height: 12rem; */

  border-top: solid 1px rgb(217, 217, 217);
}

.card-body div:first-of-type{
  display: flex;
  flex-direction: column;
}

.card-body div:first-of-type span:first-of-type {
  font-size: .75rem;
  color: gray;
}

.card-body h5{
  font-size: 1rem;
  font-weight: 600;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* white-space: pre-wrap; */
}

.card-body > span:first-of-type{
  font-size: .8rem;
  font-weight: 400;
}

.price-cart {
  display: flex;
  justify-content: space-between;
}

.price-cart button {
  border-radius: 50%;
  text-align: center;
}

.price-cart > span {
  font-size: 1.2rem;
  font-weight: 600;
  align-self: center;
}

/* ------footer----- */
.footer {
  background-color: #538d6d;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 7rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer span {
  font-size: .85rem;
}